.botao-chama-form  {
    background: #6278F7;
    border-color: #FFF;
    border-radius: 100%;
    color: #FFF;
    cursor: pointer;
    height: 100px;
    position: absolute;
    right: 32px;
    transition: ease-out 0.5s;
    width: 100px;
}

.botao-chama-form:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #95FFD4;
}

@media (max-width: 620px) {
    .botao-chama-form{
        display: block;
        margin-bottom: 24px;
        position: relative;
    }
}
  